#logo-align{
    display: flex;
    justify-content: center;
    
}

.nav-flex-container{
    display:flex;
    justify-content: center;
    height:150px;
}

.nav-flex-container > a{
    text-align: center;
    height: 15px;
    width:80px;
    font-size: 16px;
    padding:10px;
    background-color: bisque;
    text-decoration: none;
    color:black;
}

#nav-table{
    background-color: rgb(255, 255, 255)
}

#albums{
    display:flex;
    right:20px;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(79, 79, 79);
    height:950px;
}




.Album{
    display: flex;
    text-align:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:20px;
    padding:20px;
}

