#logo-align{
    display: flex;
    justify-content: center;
    
}

.nav-flex-container{
    display:flex;
    justify-content: center;
    height:150px;
}

.nav-flex-container > a{
    text-align: center;
    height: 15px;
    width:80px;
    font-size: 16px;
}

#nav-table{
    background-color: rgb(250, 245, 215)
}



