/*CSS for main navigation*/
nav{
    background-color: rgb(240, 227, 206);
}

#logo{
    display:flex;
    justify-content: center;
    
}


.nav-flex-container{
    display:flex;
    justify-content: center;
    height:100px;


}

.nav-flex-container > a{ 
    text-align: center;
    height: 15px;
    width:100px;
    font-size: 20px;
    padding:13px;
    text-decoration: none;
    color:black;
}

#back-icon{
    width:50px; 
    height:50px;
    padding:20px;
    margin:20px; 
}

#back-icon-container{
    display:flex;
    height:10px;
}


/*-----------------------------------------------------------------------------------------------------*/
#latest-news{
    margin-top:70px;
    height:500px;
    width:auto;


}

#videos-background{
    margin-top:70px;
    height:800px;
    width:auto;
    background-color: rgb(158, 9, 9);
}

#video{
    display:flex;
    height:700px;
    width:1000px;
    align-items: center;
    margin-left:70px;
    padding-left:70px;
}

#videos-background > #videos{
    align-content: center;
    
}

/*CSS for albums on Music page*/
#albums-container{
    display:flex;
    right:20px;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(79, 79, 79);
    height:auto;
}

#albums-title{
    display:flex;
    background-color: rgb(79, 79, 79);
}
#albums-title > h1{
    color:white;
    margin:20px;
    padding:20px;
}

.album{
    display: flex;
    text-align:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:20px;
    padding:20px;
    font-size: 23px;
    color: rgb(255, 255, 255);
}

.album > img{
    width: 300px;
    height:300px;
}
.album > div{
    padding: 15px;;
}
/*-----------------------------------------------------------------------------------------------------*/

/*CSS for About Us page*/
.history{
    font-size: 20px;
    padding:20px;
    color:white;
    margin-left:30px;
    word-spacing: 10px;
}

#members-container{
    display:flex;
    right:20px;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    height:500px;
}

.member{
    display: flex;
    text-align:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:10px;
    padding:10px;
    font-size: 20px;
    color: white;
}

.member > img{
    height:300px;
    width:300px;
    padding:20px;
    margin:5px;
}

#socials-background{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 9, 9);
    height: 600px;
}

#follow{
    font-size: 70px;
    color: wheat;
    font-weight:bold;
}

/*-----------------------------------------------------------------------------------------------------*/

/*CSS for Tour page*/
#tour-background{
    height:auto;
    background-color: rgb(71, 71, 71);
}

#tour-info-background{
    height: auto;
    max-height: max-content;
    justify-content: center;
    height:auto;
    width: 90%;
    margin:30px;
    margin-bottom: 0px;
    padding: 30px;
    background-color: rgb(240, 227, 206);
}

#tour-name{
    display: flex;
    flex-direction: row;
    height:80px;
}

#tour-name > span{
    font-size: 80px;
    margin:10px;
    padding:10px;
    color: rgb(240, 227, 206);
    
}

.info{
    display:flex;
    height:auto;
}

.info > div{
    margin:10px;
    padding:10px;
}

.tour-date{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 25px;
    margin: 10px;
    padding:10px;

}

.tour-location{
    display:flex;
    flex-direction: row;
    flex-grow:2;
    font-size: 25px;
    margin: 10px;
    padding:10px;

}

.tickets{
    display:flex;
    justify-content: center;
    flex-grow:1;
    height: 30px;
    width:200px;
    font-size: 25px;
    margin:10px;
    padding:10px;
    background-color: rgb(120, 190, 255);
    color:black;
}
@media screen and (max-width:576px){
    .info{
        display:flex;
        height:1000px;
    }
}
/*-----------------------------------------------------------------------------------------------------*/

/*CSS for Merch page*/
#merch-container{
    display:flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    height:auto;
    background-color: rgb(151, 10, 10);
}

.merch{
    display: flex;
    text-align:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:20px;
    padding:20px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.merch > img{
    width: 300px;
    height:300px;
    border:1px solid white;
    border-radius: 20%;
}
.merch > div{
    padding: 15px;;
}

/*CSS for Merch page Nav*/
#account-icon{
    position: absolute;
    width:35px; 
    height:35px;
    padding:20px;
    margin:20px; 
    top:-170px;
}

#account-icon-container{
    position: relative;
    display:flex;
    justify-content: flex-end;
    height:10px;
    
}

#cart-icon{
    position: absolute;
    width:33px; 
    height:33px;
    padding:20px;
    margin:20px; 
    top:-178px;
    left:1070px;
}

#cart-icon-container{
    position: relative;
    display:flex;
    justify-content: flex-end;
    height:10px;
    
}
#search-icon{
    position: absolute;
    width:200px; 
    height:200px;
    padding:20px;
    margin:20px; 
    top:-200px;
    left:1010px;
}

#search-icon-container{
    position: relative;
    display:flex;
    justify-content: flex-end;
    height:10px;
    
}
/*-----------------------------------------------------------------------------------------------------*/

/*CSS for Merch Product page*/
#product-container{
    display:flex;
    flex-direction: row;
    height:auto;
    width:auto;
    background-color: rgb(151, 10, 10);
}

#product-img{
    width: 600px;
    height:600px;
    margin:40px;
    padding:40px;
    
}

.product{
    display:flex;
    flex-direction: column;
    height:auto;
    width:30%;
    margin:20px;
    padding:20px;
}


.product-name{
    display: flex;
    font-size: 40px;
    margin:20px;
    padding: 20px;
    color: white;
    width:25%;
    background-color: darkgreen;
}

.product-price{
    display: flex;
    font-size: 25px;
    margin:20px;
    padding:20px;
    color: white;
    width:25%;
    background-color: darkgreen;
}

.product-avail{
    display: flex;
    font-size: 20px;
    margin:20px;
    padding:20px;
    color: white;
    width:25%;
    background-color: darkgreen;
}

#button{
    width:40px;
    height:30px;
    background-color: white;
}

#quantity {
    font-size: 22px;
    margin: 0 10px;
    color: white;
}

#product-quantity{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    margin:20px;
    padding:20px;
    color: white;
    width:25%;
    background-color: darkgreen;
}

#add-to-cart{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    margin:20px;
    padding:20px;
    color: white;
    background-color: grey;
    width:150px;
}
#product-details{
    height:300px;
    color: white;
    font-size: 25px;
    margin-left:30px;
    background-color: darkgreen;
    
}

#product-details-header{
    height:70px;
    color: white;
    font-size: 40px;
    margin-left:30px;
    background-color: darkgreen;

}

#details{
    margin-top:-3px;
    background-color: rgb(151, 10, 10);
}
/*-----------------------------------------------------------------------------------------------------*/

